---
import Layout from "../layouts/Layout.astro";
import FetchAPI from "../components/FetchAPI";
---

<Layout title="FetchAPI">
    <main>
        <a href="/">Back</a>
        <FetchAPI client:load/>
    </main>
</Layout>

<style>
    	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>