---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/count/">Count</a>
    <a href="/blog/">Blog</a>
    <a href="/memo/">useMemo</a>
    <a href="/api/">FetchAPI</a>
    <a href="/jsxsearch/">Search</a>
</div>
